<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo0gsKVIAl0w8L6bcT9LQsg6Njjx3IsiM</string>
	<key>GCM_SENDER_ID</key>
	<string>771165996875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWeekplanerApp</string>
	<key>PROJECT_ID</key>
	<string>my-weekplaner</string>
	<key>STORAGE_BUCKET</key>
	<string>my-weekplaner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771165996875:ios:57002d36cd92789721cace</string>
	<key>DATABASE_URL</key>
	<string>https://my-weekplaner-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>